html,
body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica","MalgunGothic",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Helvetica";
  /*font-weight: 100,300,400,500,700,900;*/
  src: url("/src/styles/fonts/Helvetica.ttf") format("truetype");
}
@font-face {font-family:"MalgunGothic"; src:url("/src/styles/fonts/MalgunGothic.eot");}
